@using StackExchange.Profiling
@addTagHelper *, MiniProfiler.AspNetCore.Mvc

<!DOCTYPE html>

<html>
    <head>
        <title></title>
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
</html>